h1 {
    font-size: 40px;
    color: blue;
    transition: all 1s ease-out;
}

@media (min-width: 700px){
    body {
        background-color: blue;
    }
    h1 {
        font-size: 60px;
        color: green;
    }
}

@media (max-width: 699px){
    body {
        background-color: green;
    }
}

@media (max-width: 568px){
    body {
        background-color: yellow;
    }
    h1 {
        font-size: 30px;
        color: green;
    }
}
@media (max-width: 320px){
    body {
        background-color: purple;
    }
    h1 {
        font-size: 20px;
        color: pink;
    }
}