/* ----------------------------------
GLOBAL STYLES
------------------------------------*/
html, body {
	height: 100%;
	background-color: #303030;
}
body {
    font-size: 100%;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.clearfix:before, .clearfix:after {
    content: "";
    display: block;
    clear: both;
}
.container {
    width: 80%;
    margin: 0 auto;
}


/* ----------------------------------
HEADER STYLES
------------------------------------*/
header {
    background-color: rgb(193, 230, 252);
    position: relative;
}
header ul {
    padding: 0;
    margin: 0;
}


/* ----------------------------------
BOOTSTRAP NAVIGATION OVERRIDE STYLES
------------------------------------*/
.navbar {
    border-radius: 0px;
    margin-bottom: 0px;
	border-width: 0 0 1px;
	border-style: solid;
	border-color: rgba(37, 112, 191, 0.5);
}
.navbar-default {
    background-color: transparent;
    border-color: transparent;
}
.navbar-default .navbar-brand {
	width: 205px;
	color: #777;
	background-image: url("../img/logo.png");
	background-repeat: no-repeat;
	background-size: 80%;
	background-position: center;
	text-indent: -9999px;
}
.navbar-default .navbar-nav > li > a {
    color: rgba(37, 112, 191, 0.5);
    font-size: 150%;
    font-weight: 200;
    text-decoration: none;
    transition: all 150ms ease-in-out;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: rgba(37, 112, 191, 1);
    background-color: transparent;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	color: #efefef;
	background-color: rgba(37, 112, 191, 0.25);
}
/*--- DROPDOWN ---*/
.dropdown-menu {
	background-color: rgb(193, 230, 252);
	border-color: rgba(37, 112, 191, 0.5);
}
.dropdown-menu > li > a {
	color: rgba(37, 112, 191, 0.5);
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
	color: rgba(37, 112, 191, 1);
	background-color: transparent;
}
.dropdown-menu .divider {
	background-color: rgba(37, 112, 191, 0.25);
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: rgba(37, 112, 191, 0.25);
}
/*--- TOGGLE ---*/
.navbar-toggle {
	border: none;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: rgba(37, 112, 191, 0.5);
	transition: background-color 150ms ease-in-out;
}
.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
	background-color: rgba(37, 112, 191, 1);
}


/* ----------------------------------
HERO STYLES
------------------------------------*/
#hero {
    height: 180px;
    background-image: url("../img/sky.jpg");
    background-attachment: fixed;
    background-size: 100%;
	transition: height 150ms ease-in-out;
}


/* ----------------------------------
ARTICLE STYLES
------------------------------------*/
main {
    background-color: #eaeaea;
    padding-bottom: 50px;`
}
main .container {
    position: relative;
}


/* ----------------------------------
MAIN IMG STYLES
------------------------------------*/
main img {
    display: block;
    width: 20%;
    height: auto;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 7%;
    border: 1px solid #aaaaaa;
	padding: 5px;
	background-color: #cccccc;
	transition: left 150ms ease-in-out;
	
}
main img:hover {
    left: 2%;
}


/* ----------------------------------
ARTICLE STYLES
------------------------------------*/
main article {
    width: 80%;
    padding: 0 25px 25px;
    float: right;
    position: relative;
    z-index: 1;
    background-color: #ffffff;
	border: 1px solid #dddddd;
	transition: width 150ms ease-in-out;
}
main article:before {
    content: "";
    display: block;
    width: 100%;
    height: 75px;
    background-color: #ffffff;
    position: absolute;
    top: -75px;
    left: 0;
    background-image: url("../img/mail.png");
    background-repeat: repeat-x;
	border-width: 1px 1px 0;
	border-color: #dddddd;
	border-style: solid;
}
article h2:before {
    content: "- ";
}


/* ----------------------------------
ARTICLE FONT SIZING
------------------------------------*/
article h1 {
	margin-top: 0;
    /*font-size: 40px;*/
    font-size: 2.5em;
    font-weight: 200;
}
article p {
    /*font-size: 24px;*/
    font-size: 1.5em;
    line-height: 1.5;
}
article h2 {
    /*font-size: 32px;*/
    font-size: 2em;
    font-family: 'Homemade Apple', cursive;
    float: right;
}


/* ----------------------------------
FOOTER STYLES
------------------------------------*/
footer {
    padding: 25px 0;
    background-color: #303030;
    color: #dddddd;
	border-top: 1px solid #1a1a1a;
}


/* ----------------------------------
MEDIA QUERIES
------------------------------------*/
@media screen and (max-width: 768px){
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: rgba(37, 112, 191, 0.5);
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: rgba(37, 112, 191, 1);
	}
	#hero {
		height: 120px;
	}
	main article {
		width: 100%;
	}
	main img {
		display: none;
	}
}