*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {height: 100%;background-color: #dedede;}
html:before {
	content: "So what can you do with pseudo elements?";
	display: block;
	width: 100%;
	line-height: 2;
	font-size: 2.5em;
	color: #fafafa;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #4a4a4a;
	padding: 1em 2em;
	margin: 0 auto;
	text-align: center;
	font-weight: 100;
	letter-spacing: .075em;
}
html:after {
	content: "Copyright \00a9  2014 Bitwise Industries. All rights reserved.";
	display: block;
	width: 100%;
	background-color: #1a1a1a;
	color: #999;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: .75em;
	line-height: 1.5;
	padding: 2em 10%;
}

body {
	min-height: 250px;
	margin: 5em auto;
	width: 80%;
	box-shadow: 0 0 1em 1px hsla(0, 0%, 0%, 1);
	background-color: #fefefe;
	padding: 2em;
}
